if (!exists("outfile")) outfile='hist-predication.ps'
set term postscript solid color rounded
set output outfile

set nokey
set grid y
set style data histograms
set style fill solid 1.0 border -1
set ytics 10 nomirror
set yrange [0:100]
set ylabel "Resource utilization/thread convergence %"
set auto x

plot '-' using 2:xtic(1) lc rgb '#0c51c2'
{% for kernel in kernels %}
"{{ kernel.name }}" {{ kernel.efficiency }}
{% endfor %}
e
