if (!exists("outfile")) outfile='roofline-shared.ps'
set term postscript solid color rounded
set output outfile

unset clip points
set clip one
unset clip two
set bar 1.000000
set xdata
set ydata
set zdata
set x2data
set y2data
set boxwidth
set style fill  empty border
set dummy x,y
{% raw %}
set format y "10^{%T}"
set format x "10^{%T}"
{% endraw %}
set format x2 "% g"
set format y2 "% g"
set format z "% g"
set format cb "% g"
set angles radians
set grid nopolar
set grid xtics mxtics ytics mytics noztics nomztics \
 nox2tics nomx2tics noy2tics nomy2tics nocbtics nomcbtics
set grid layerdefault   linetype 0 linewidth 1.000,  linetype 0 linewidth 1.000
set key title ""
# set key off
set key right bottom maxrows 4 font ",10"
unset label
unset arrow
unset style line
unset style arrow
unset logscale
set logscale x 10
set logscale y 10
set offsets 0, 0, 0, 0
set pointsize 1
set encoding default
unset polar
unset parametric
unset decimalsign
set view 60, 30, 1, 1  
set samples 1000, 1000
set isosamples 10, 10
set surface
unset contour
# set clabel '%8.3g'
set mapping cartesian
set datafile separator whitespace
unset hidden3d
set cntrparam order 4
set cntrparam linear
set cntrparam levels auto 5
set cntrparam points 5
set size 1,1
set origin 0,0
set style data lines
set style function lines
set xzeroaxis linetype -2 linewidth 1.000
set yzeroaxis linetype -2 linewidth 1.000
set x2zeroaxis linetype -2 linewidth 1.000
set y2zeroaxis linetype -2 linewidth 1.000
set ticslevel 0.5
set mxtics 10
set mytics 10
set mztics default
set mx2tics default
set my2tics default
set mcbtics default
set xtics autofreq
set ytics autofreq
set ztics autofreq
set nox2tics
set noy2tics
set cbtics autofreq
set timestamp bottom 
set timestamp "" 
set rrange [ * : * ] noreverse nowriteback
set trange [ * : * ] noreverse nowriteback
set urange [ * : * ] noreverse nowriteback
set vrange [ * : * ] noreverse nowriteback
set xlabel "Instruction Intensity (warp instructions per transaction)" 
set x2label "" 
set xrange [1.000000e-02 : 1.500000e+03] noreverse nowriteback
set x2range [ * : * ] noreverse nowriteback
set ylabel "Performance (warp GIPS)"
set y2label "" 
set yrange [1.000000e+00 : 1.000000e+03] noreverse nowriteback
set y2range [ * : * ] noreverse nowriteback
set zlabel "" 
set zrange [ * : * ] noreverse nowriteback
set cblabel "" 
set cbrange [ * : * ] noreverse nowriteback
set zero 1e-08
set lmargin  -1
set bmargin  -1
set rmargin  -1
set tmargin  -1
set locale "C"
set pm3d explicit at s
set pm3d scansautomatic
set palette positive nops_allcF maxcolors 0 gamma 1.5 color model RGB 
set palette rgbformulae 7, 5, 15
set colorbox default
set loadpath 
set fit noerrorvariables

# Device parameters
peak = 489.6 # GIPS
shared_peak = 109.3 # GTXN/s

# Ceilings
shared_ceiling(x) = peak > (x * shared_peak) ? (x * shared_peak) : peak
peak_ceiling(x) = peak <= (x * shared_peak) ? peak : 1/0

# Styling
line_width = 2
point_size = 1.5

shared_color = 'magenta'

# Ceiling labels
set label sprintf('Theoretical peak: %.1f warp GIPS', peak) at 2,peak + 90 textcolor rgb 'black' font ",12"
set label sprintf('Shared %.1f GTXN/s', shared_peak) at 0.05,1 + 0.05 * shared_peak  left rotate by 50 textcolor rgb shared_color font ",12"

# Walls
# No shared conflicts, instruction intensity:
noconflict = 1
set arrow from noconflict,1 to noconflict,noconflict*shared_peak nohead lc rgb shared_color
set label 'No bank conflict' at noconflict+0.2,1 left rotate by 90 textcolor rgb shared_color font ",12"
# 32-way bank conflicts, instruction intensity:
fullconflict = 1 / 32.
set arrow from fullconflict,1 to fullconflict,fullconflict*shared_peak nohead lc rgb shared_color
set label '32-way bank conflict' at fullconflict-0.005,1 left rotate by 90 textcolor rgb shared_color font ",12"

# Define dot shapes for each kernel
{% set shape = namespace(value=5) %}
{% for kernel in kernels %}
{{ kernel.name }}_dot = {{ shape.value }}
{% set shape.value = shape.value + 2 %}
{% endfor %}

plot \
	shared_ceiling(x) lw line_width lc rgb shared_color notitle,\
	peak_ceiling(x) lw line_width lc rgb 'black' notitle,\
	{% for kernel in kernels %}
	[0:0:1] "+" us (-10):(-10)\
		with points lc rgb "black" pt {{ kernel.name }}_dot - 1 ps point_size title "{{ kernel.name }}",\
	{% endfor %}
    {% for kernel in kernels %}
	[0:0:1] "+" us ({{ kernel.shared_warp_inst_intensity }}):({{ kernel.warp_shared_instruction_performance }})\
	    with points lc rgb shared_color pt {{ kernel.name }}_dot ps point_size\
		title {{ '"Shared (ldst\\\_inst)"' if loop.first else "notitle" }}{% if not loop.last %},\{% endif %}
	{% endfor %}
